body{
    font: 20px sans-serif;

}

.navbar {
    background-color: rgba(44, 211, 119, 0.849)
}

.ibp {
    background-color: whitesmoke;
    color: rgb(6, 10, 8)
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rede-celebracao {
    background: whitesmoke;
    color: rgb(6, 10, 8);
}

.programacao {
    background: whitesmoke;
    color: rgb(6, 10, 8);
}

.bg-footer{
    background: black;
    color: white;
    
}